 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sens-serif';
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #e3f2fd;
}
body, .video_controls, .video_timer, .options{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    max-width: 900px;
    width: 98%;
    background: #000;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.container.fullscreen{
    max-width: 100%;
    width: 100%;
    max-height: 100vh;
}
.wrapper{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: all 0.08s ease;
}
.container.show-controls .wrapper{
   bottom: 0px;
    opacity: 1;
    transition: all 0.13s ease;
    pointer-events: auto;
}
.wrapper::before{
    content: "";
    bottom: 0;
    width: 100%;
    height: calc(100% + 35px);
    z-index: -1;
    position: absolute;
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent );
}
.video_controls .options{
    width: 100%;
}
.video_controls .options:first-child{
    justify-content: flex-start;
}
.video_controls .options:last-child{
    justify-content: flex-end;
}
.video_controls{
    padding: 5px 20px 10px;
}
.options button{
    width: 40px;
    height: 40px;
    border: none;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
    background: none;
}
.container video{
    height: 100%;
    width: 100%;
}
.options button :where(i, span){
    width: 100%;
    height: 100%;
    line-height: 40px;
}
.options input{
    height: 4px;
    max-width: 75px;
}
.options .video_timer{
    font-size: 14px;
    color: #efefef;
    margin-left: 15px;
}
.video_timer .separator{
    font-size: 16px;
    margin: 0 5px;
    font-family: "open sans";
}
.video_timeline{
    height: 7px;
    width: 100%;
    cursor: pointer;

}
.video_timeline .progress_area{
    height: 3px;
    background: rgba(255, 255, 255, 0.6);
    position: relative;

}
.progress_area .progress_bar{
    width: 0%;
    height: 100%;
    background: #2289ff;
    position: relative;

}
.progress_area .progress_bar::before{
    content: "";
    right: 0;
    height: 13px;
    width: 13px;
    background: inherit;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    position: absolute;
}
.progress_area span{
    position: absolute;
    left: 50%;
    font-size: 13px;
    top: -25px;
    color: #fff;
    transform: translateX(-50%);
}
.progress_area span,  .progress_bar::before{
    display: none;
}
.video_timeline:hover  span, 
.video_timeline:hover .progress_area .progress_bar::before{
    display: block;
}

.playback-content{
    position: relative;
}
.playback-content .speed-options.show{
    opacity: 1 !important;
    pointer-events: auto;
}
.playback-content .speed-options{
    position: absolute;
    bottom: 40px;
    left: -40px;
    pointer-events: none;
    list-style: none;
    width: 95px;
    background: #fff;
    border-radius: 4px;
    transition: opacity 0.13s ease;
    opacity: 0;
}

.speed-options li{
    cursor: pointer;
    font-size: 14px;
    padding: 5px 0 5px 15px;

}
.speed-options li.active{
    color: #fff;
    background: #2298ff;
}
